extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Stacy Suits

        //- Feel free personalize the title below
        p.lead.text-light
          | Treehouse Student - Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello thanks for visiting my portfolio created using Express and Node. I am a designer turned software engineer working on the Full Stack Javascript track of Treehouse. Please check out the projects I've worked on so far here :)
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 What I'm learning:

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li HTML
          li CSS
          li Ajax 
          li Express
        h6 Contact Info

        //- Add your own contact info
        ul
          li 415-542-6075
          li stacyrays@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        //-a.button.expanded(href='https://www.linkedin.com/in/stacy-suits-7b687917/') LinkedIn
        a.button.expanded(href='https://github.com/stacyrays') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  